<div class="container">
    <div class="formBox">
        <h2>Вход</h2>
        <form class="formUser" action="../control/auth.php" method="post">
            <div class="form-floating mb-3">
                <input name="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating">
                <input name="passw" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div>
            <button class="btnForm" type="submit">Войти</button>
            <a href="../formRegist.php" class="btnForm">Регистрация</a>
        </form>
    </div>
</div>